<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="chromeTest">
	  <parameter name="os" value="windows"/>
	  <parameter name="browser" value="chrome"/>
    <classes>
    <!--  <class name="TestCases.TC1_Register"/> -->
       <class name="TestCases.TC5_OrderHistory"/>
    </classes>
  </test> <!-- MasterTest -->
  
  <!-- <test thread-count="5" name="edgeTest">
	  <parameter name="os" value="windows"/>
	  <parameter name="browser" value=""/>
    <classes>
      <class name="TestCases.TC1_Register"/>
    </classes>
  </test> --> <!-- MasterTest -->
</suite> <!-- MasterSuite -->
